name: test
on: [push, pull_request]

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          cache: npm
          node-version-file: .nvmrc

      - name: Install dependencies
        run: npm ci --prefer-offline

      - name: Lint codebase
        run: npm run lint

      - name: Check type
        run: npm run lint:tsc

      - name: Run tests
        run: npm run test:ci

      - name: Codecov
        uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  # action should work on a clean machine without building
  integration:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        # 0.2.0 is not supported
        version: [0.3.0, 0.4.0]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Run action
        uses: ./

      - name: Run action with inputs
        uses: ./
        with:
          htmlq-version: ${{ matrix.version }}
          cli-name: htmlq

      - name: Locate binary
        run: command -v htmlq

      - name: Check version
        shell: bash
        run: |
          if [[ $(htmlq --version) != *'${{ matrix.version }}'* ]]; then
            echo 'Version does not match. See version below:'
            htmlq --version
            exit 1
          fi

      - name: Show help
        run: htmlq --help
